.characterBar {
  width: 40%;
  height: 100%;
  display: grid;
  grid-template-rows: 30% 30% 30%;
  row-gap: 5px;
  padding: 5px;
}

.characterMP {
  background-color: blue;
  grid-row: 2/3;
  border: 1px solid black;
  border-radius: 10px;
}

.characterXP {
  background-color: rgb(184, 182, 182);
  grid-row: 3/4;
  border: 1px solid black;
  border-radius: 10px;
}

.characterHP {
  background-color: red;
  grid-row: 1/2;
  border: 1px solid black;
  border-radius: 10px;
}
