.gamePageWrapper {
  display: grid;
  grid-template-rows: 15% 55% 30%;
  width: 100%;
  height: 100%;
  background-image: url("../../../images/ObeliskOfVictory.PNG");
  background-size: cover;
}

.characterBar-wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-row: 1/2;
}

.mainField {
  display: grid;
  grid-template-rows: 15% 10% 55%;
  grid-gap: 5%;
  grid-row: 2/3;
}

.skillsBar {
  background-color: rgba(0, 0, 0, 0.3);
  grid-row: 3/4;
}

.monster {
  grid-row: 2/4;
}
